body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
  background: rgb(100, 192, 192);
  height: 120px;
  text-align: center;
  line-height: 50px;
  color: white;
  border-bottom: black solid 1.5px;
  width: 100%;
}

h1 {
  margin: 0;
}

section {
  display: flex;
  width: 100%;
  justify-content: center;
}

article {
  padding: 30px;
  margin: 35px;
  background: rgb(100, 192, 192);
  flex: 1;
  border: black solid 1.5px;
  border-radius: 6px;
  text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin: 40px 0 0 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 20px;
    background: rgb(100, 192, 192);
    border: black solid 1.5px;
    border-radius: 6px;
    font-size: 17px;
    min-width: 120px;
}

button a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
}

button:hover,
button:focus {
    outline: none;
    background: #0688c4;
    color: #fff;
}

figure {
    margin: 2px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1.5px;
    background: rgb(100, 192, 192);
    color: white;
    width: 100%;
}